.header {
  padding-top: clamp(1.25rem, 0.393rem + 1.79vw, 2rem);
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
  border-bottom: 1px solid var(--grey-divider, #DDD)   
}

body {
  margin-top: clamp(4.25rem, 3rem + 5.5556vw, 8rem);
}

.header_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 80px; */
}

.header_logo {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: clamp(1.25rem, 0.393rem + 1.79vw, 2rem);
  cursor: pointer;
}

.nav_list li a:hover ,
.mobile_nav_list li a:hover {
  color: var(--hover-color, var(--green, #393));
}

.nav_list lia:active, 
.mobile_nav_list li a:active {
  color: var(--hover-color, var(--green, #393));
}

.nav_list_item a {
  color: var(--txt-black, #282828);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  &.darkFontColor {
    color: #fff;
  }
}

.mobile_nav_list {
  &.darkFontColor {
    color: #fff;
  }
}

.nav_basket {
  cursor: pointer;
}

.header_menu_button {
  display: none;
  font-size: 22px;
}

.light {
  background-color: #ffffff;
}

.light a {
  color: #000000;
}

.dark {
  background-color: #333333;
}

.dark a {
  color: #ffffff;
}

.theme_toggle_button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: -20%;
}

.sunIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
}

.moonIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: #fff;
  padding: 5px;
}

.mobile_menu_content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #fff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  text-align: right;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform:  translateX(${props => (props.isOpen ? "0": "100%")});
}

.mobile_nav_list.darkFontColor {
  color: #fff;
}

.toogleAll {
  display: flex;
  gap: 4rem;
}

@media (max-width: 790px) {
  .header_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 282px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
  }

  .header_nav.active {
    display: block;
    right: 0;
  }

  .close_button {
    font-size: 44px;
    border: none;
    margin-top: 12px;
    margin-right: 20px;
  }

  .mobile_nav_list {
    margin-top: 44px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding-left: 32px;
    text-align: start;
  }

  .mobile_nav_list li {
    padding-bottom: 36px;
  }

  .mobile_nav_list li a {
    color: var(--txt-black, #282828);
  }

  .nav_basket {
    margin-right: 80px;
  }

  .nav_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }

  .nav_list_item {
    margin: 10px 0;
  }

  .nav_list_item:nth-child(n + 2) {
    margin-right: 0;
  }

  .header_menu_button {
    display: block;
    position: absolute;
    right: 20px;
    top: 31px;
    z-index: 10;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-size: 44px;
  }
}
@media (max-width: 360px) {
  .mobile_nav_list {
    font-size: 18px;
    padding-left: 32px;
  }

  .mobile_nav_list li {
    padding-bottom: 32px;
  }
  .sunIcon {
    margin-left: 80px;
  }

  .moonIcon {
    margin-left: 80px;
  }
  .nav_basket {
    margin-left: 18px;
  }


}
