.AllProducts{
    margin-top: 28px;
    border-top: 1px solid var(--grey-divider, #DDD);
}

.product_list h2{
    margin-top: 32px;
    font-size: clamp(2.5rem, 2rem + 2.2222vw, 4rem);
}

.click_btn{
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    margin-top: 20px;
}

.btn_main, .btn_categories, .btn_products {
    text-align: center; 
    padding: 8px 16px;
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--grey-divider, #DDD);
}

.btn_main:hover, .btn_categories:hover, .btn_products:hover {
    transform: scale(1.05);
}

.btn_main a, .btn_categories a{
    color: var(--txt-grey, #8B8B8B);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%; 
}

.btn_products a{
    color:  var(--txt-black, #282828);
}

.connect{
    height: 1px;
    width: 1rem; 
    background: 1px #DDD;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-top: 16px;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex-direction: row;
}

.darkTheme {
    background-color: #333;    
}

.darkTheme p,
.darkTheme h2,
.darkTheme .btn_products a{
   color: #fff;
}

