.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px 20px 32px 20px;
}

.area {
  width: 100%;
}

.area input[type="text"] {
  display: block;
  width: 100%;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #fff);
  padding: 1rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  flex-shrink: 1;
  margin-bottom: 1rem;
}

.area input[type="text"]::placeholder {
  color: var(--txt-white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 100%;
}

.area_actions {
  border-radius: var(--radius-small, 6px);
  background: var(--white, #fff);
  color: var(--txt-black, #282828);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-top: 6px;
  padding: 16px 32px;
  width: 100%;
}
.area_actions button {
  border: none;
}

@media (max-width: 610px) {
  .registration {
     width: 90vw;
  }
  }
