/* .card img {
  width: 22vw;
  height: 24.3vh;
  margin-top: 2.5rem;
  border-radius: var(--radius-big, 12px);
  background: lightgray 50% / cover no-repeat;
} */

.nextProducts {
  display: flex;
  align-items: center;
  gap: 32px;
}

.title {
  display: flex;
  align-items: center;
}

.sale h2 {
  color: var(--txt-black, #282828);
  font-size: clamp(2.5rem, -1rem + 100vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  position: relative;
  margin-top: 0px;
}

.changeProduct {
  width: 100%;
}

.linie {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}

.allSalesBtn {
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  padding: 8px 16px;
  color: var(--txt-grey, #8b8b8b);
  font-size: clamp(0.875rem, 0.5833rem + 8.3333vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  white-space: nowrap;
}

.darkTheme h2 {
  color: #fff;
}



@media (max-width: 780px) {
  .nextProducts h2 {
    font-size: 56px;
  }
}

@media (max-width: 530px) {
  .nextProducts h2 {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .nextProducts h2 {
    font-size: 48px;
  }

  .linie {
    width: 69%;
  }  

  .allSalesBtn {
    font-size: 14px;
  }
}

@media (max-width: 470px) {
  .linie {
    height: 0px;
  }

  .allSalesBtn {
    display: none;
  }
}
