.AllSales{
    margin-top: 28px;
    border-top: 1px solid var(--grey-divider, #DDD);
}

.sales_list h2{
    margin-top: 32px;
    font-size: clamp(2.5rem, 2rem + 2.2222vw, 4rem);
}

.click_btn{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.btn_main, .btn_categories, .btn_products, .btn_sales {
    text-align: center; 
    padding: 8px 16px;
    border-radius: var(--radius-small, 6px);
    border: 1px solid var(--grey-divider, #DDD);
    transition: transform 0.3s ease;
}

.btn_main:hover, .btn_categories:hover,
 .btn_products:hover, .btn_sales:hover{
    transform: scale(1.05);
 } 

.btn_main a, .btn_categories a, .btn_products a{
    color: var(--txt-grey, #8B8B8B);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%; 
}

.btn_sales a{
    color:  var(--txt-black, #282828);
}

.connect{
    height: 1px;
    width: 1rem; 
    background: 1px #DDD;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-top: 16px;
}
