.choose{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.choose img{
    width:100%;
    height: 350px;
    object-fit: cover;
    object-fit: bottom;
    border-radius: var(--radius-big, 12px);
    background: lightgray 50% / cover no-repeat;
    margin-top: 40px;
}

.choose p{
    margin-top: 16px;
    color: var(--txt-black, #282828);
    text-align: center;
    font-size: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem);
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

 @media (max-width: 1200px){
   .choose img{
      height: 250px;
      width: 29vw;
}}

@media (max-width: 480px){
    .choose img{
        height: 260px;
    }
}

@media (max-width: 360px){
    .choose img{
        height: 220px;
    }
}

